/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 7, 2024, 4:37:07 PM
    Author     : maric
*/

tbody tr:nth-child(odd) {
    background-color: white;
    color: black
}
tbody tr:nth-child(even) {
    background-color: white;
    color: black
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
    padding: 90px 20px 0;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: brown;
}
.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 90px;
}
.nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}
.nav-link {
    color: white;
    text-decoration: none;
}
.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-link {
    font-size: 18px;
    margin: 0 10px;
    line-height: 90px;
    width: max-content;
}
.nav-menu-link:hover {
    background-color: darkred;
    transition: 0.5s;
}
.nav-menu-link {
    padding: 8px 12px;
    border-radius: 10px;
}
.aside {
    position: fixed;
    top: 20%;
    left: 0;
    width: 15%;
    height: 55%;
    background-color: white;
}
.section {
    position: fixed;
    top: 20%;
    left: 20%;
    width: 80%;
    height: 75%;
    background-color: white;
    overflow-y: scroll;
}
.footer {
    position:inherit ;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    color: white;
    background-color: brown;
    text-align: center;
}